.vh100 {
    height: calc(100vh - var(--nav-height));
  }

  .buttom {

    text-decoration: none;
    display: inline-block;
    color: var(--second-color);
    background-color: var(--main-color);
    width: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    font-weight: bold;
  }
  
  .buttom:hover {
  
    background-color: var(--second-color);
    color: var(--third-color);
    transform: scale(1.1);
    transition: 0.5s;
  }

  .center {
    text-align: center;
  }
  
  .buttom--active {
  
    background-color: var(--second-color);
    color: var(--third-color);
  }
  
  .buttom--active:hover {
  
    background-color: var(--third-color);
    color: var(--second-color);
  }