* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  html {
  
    scroll-behavior: smooth;
  }
  
  ::selection {
    background-color: var(--main-color);
    color: var(--second-color);
  }
  
  
  
  body {
    background-color: var(--second-color);
    color: var(--third-color);
    font-family: "Rubik", sans-serif;
    font-size: var(--font-zise-main);
  }

  .container {
    max-width: var(--max-width);
    margin: 0 auto;
    /* background-color: aqua; */
  }
  
  
  main {
    display: flex;
    flex-direction: column;
    /* background-color: #f6e232; */
    justify-content: center;
    align-items: center;
  
  }