header {
    
    background: var(--main-color);
    color: var(--second-color);
    position: sticky;
    top: 0;
  
  }
  

  
  .nav{



  }

  .nav_contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }

  .nav__figure{

    
  }

  .nav__logo{

  }

  .nav__toggle{

  }

  .nav__input{

  }

  .nav_lista{
    
  }

  .nav_item{

  }

  .nav_link{

  }


  /* -------------------------------- */
  
  /* header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    height: var(--nav-height);
  } */

  
  /* .enlaces {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    margin-right: 20px;
  }
  
  .enlaces:hover {
    color: var(--third-color);
    background-color: var(--second-color);
    padding: 10px;
    border-radius: 50px;
    transition: 0.5s;
  } */