.cards {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
  }
  
  .card_item {
  
    max-width: 350px;
    width: 30%;
    background-color: var(--third-color);
    color: var(--second-color);
    padding: 40px 0;
  
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .card_plan {
  
    color: var(--second-color);
    margin: 20px;
  
  }
  
  .card_precio {
  
    font-size: 48px;
  }
  
  .Caracteristica {
  
    padding: 25px;
  }

  .card_item--active {
    background-color: var(--main-color);
  }


  @media (width<500px){

    #Servicios{

      height: auto;
    }

    .servicios{

      margin: 5px;
    }

    .cards{

      flex-direction: column;
      gap: 1rem;
    }

    .card_item {
  
      max-width: 350px;
      width: 90%;
      background-color: var(--third-color);
      color: var(--second-color);
      padding: 40px 0;


    }

    .card_item--active {
      background-color: var(--main-color);
    }

  }

  