@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* -------------------------------------||------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* los dos puntos representa una pseudo clase */

  --main-color: #f6e232;
  --second-color: #2a2929;
  --third-color: #f2f2f2;
  --font-zise-main: 18px;
  --max-width: 1400px;
  --max-width2: 1800px;

  --nav-height: 70px;
}

html {

  scroll-behavior: smooth;
}

::selection {
  background-color: var(--main-color);
  color: var(--second-color);
}



body {
  background-color: var(--second-color);
  color: var(--third-color);
  font-family: "Rubik", sans-serif;
  font-size: var(--font-zise-main);
}

/* -------------------------------------||------------------------------------- */

header {
  display: flex;
  background: var(--main-color);
  color: var(--second-color);
  position: sticky;
  top: 0;

}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  height: var(--nav-height);
}

.menuhorizontal {
  display: flex;
  align-items: center;

}

.enlaces {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  margin-right: 20px;
}

.enlaces:hover {
  color: var(--third-color);
  background-color: var(--second-color);
  padding: 10px;
  border-radius: 50px;
  transition: 0.5s;
}

/* -------------------------------------||------------------------------------- */

.container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  /* background-color: aqua; */
}


main {
  display: flex;
  flex-direction: column;
  /* background-color: #f6e232; */
  justify-content: center;
  align-items: center;

}

.vh100 {
  height: calc(100vh - var(--nav-height));
}

/* -------------------------------------|INICIO|------------------------------------- */



#Inicio .si {
  display: flex;
  align-items: center;

  justify-content: space-evenly;

  height: calc(100vh - var(--nav-height));

  max-width: var(--max-width2);
  width: 100%;
}



.hpa h1::first-line {
  color: var(--main-color);
}

.hpa h1 {
  font-size: 50px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  font-size: 4rem;
}


.hpa p {
  width: 300px;
  margin: 20px 0;
  font-size: var(--font-zise-main);
}

.hpa a {
  text-decoration: none;
  display: inline-block;
  color: var(--second-color);
  background-color: var(--main-color);
  width: 200px;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  font-weight: bold;
}

.hpa a:hover {
  background-color: var(--third-color);
  color: var(--second-color);
  transform: scale(1.1);
  transition: 0.5s;
}



.buttom {

  text-decoration: none;
  display: inline-block;
  color: var(--second-color);
  background-color: var(--main-color);
  width: 200px;
  text-align: center;
  padding: 10px;
  border-radius: 50px;
  font-weight: bold;
}

.buttom:hover {

  background-color: var(--second-color);
  color: var(--third-color);
  transform: scale(1.1);
  transition: 0.5s;
}


/* -------------------------------------|Nosotros|------------------------------------- */

#Nosotros .nosotros{

  display: flex;
  justify-content: center;
  align-items: center;

  
}






.center {
  text-align: center;
}



.cards {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.card_item {

  max-width: 350px;
  width: 30%;
  background-color: var(--third-color);
  color: var(--second-color);
  padding: 40px 0;

  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card_plan {

  color: var(--second-color);
  margin: 20px;

}

.card_precio {

  font-size: 48px;
}

.Caracteristica {

  padding: 25px;
}

.card_item--active {
  background-color: var(--main-color);
}

.buttom--active {

  background-color: var(--second-color);
  color: var(--third-color);
}

.buttom--active:hover {

  background-color: var(--third-color);
  color: var(--second-color);
}




.Galeria{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  

}

.img {
  width: 30%;

  border-radius: 10px;
  margin-bottom: 30px;
}

.form {

  width: 450px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

.form_group{

  display: flex;
  flex-direction: column;
}

.input {

  width: 100%;
  padding: 12px;
  font-size: var(--font-zise-main);
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none;
}

.Enviar {

  margin: 0 auto;
}